body{
    background-color: beige
}

.navbar-header a
{
    font-style: italic;
    font-size:30px;
    color:green;
}

.navbar-nav
{
    float:right;
   
}
.navbar ul li a{
    text-decoration: none;
    margin:0 10 0 10;
    color:black;
    /* border:1px solid red; */
}
#this{
    color: green;
}

#image h4{
    color:white;
    font-weight:700;
    margin:-320px 0px 0px 350px;
    font-size:40px;
}

#image p{
    color:white;
    margin:10px 0px 0px 500px;
    font-size:15px;
    
}


.div1
{
    width:620px;
    margin:260px 0 0 0px;
    box-shadow:0px 0px 15px gray;
    height:auto;
    border-radius:5px;
    background-color: white;
}

#head, #head1{
    margin: 10px 0px 10px 0px;
    font-weight:bold;
}

.div1 p{
    word-spacing:1px;
    letter-spacing: 0.5px;
    margin-bottom:20px;
}

.div2
{
    box-shadow:0px 0px 15px gray;
    border-radius:5px;
    margin:260px 0 0 10px;
    display:inline-block;
    background-color: red;
    width:43%;
}

.div2 p{
    word-spacing:1px;
    letter-spacing: 0.5px;
    margin: 0px 10px 0px 10px;
 
}

#head1
{
    margin: 10px 10px 10px 10px;
    color:white;
}

#one,#two
{
    margin: 10px 10px 10px 10px;
    color:white;
}

#two
{
    word-spacing:2.5px;
    letter-spacing: 1px; 

}

footer{
    margin: 70px 10px 10px 500px;

}